*body{
    font: 700px;
}
    

.container{
    display:flex;
    background-color: black;
    margin :50px 70px 20px 70px;
    padding: 10px;
    border-radius:12px; 
    
}
.half-width{
    background-color:black;
    color: azure;
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width:100%;
}
.link-button{
    text-decoration: none;
    background: red;
    padding: 10px 10px ;
    border-radius: 5px;
    color: white;
    font-weight: 700;
        
}

